@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  * {
    font-family: D-DIN-BOLD, Poppins, arial, Sans Serif;       
  }
  
  .nav-bar {
    position: fixed;
  }
  
  ul {
    list-style: none;
  }

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #050304;
}

.image-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding:0;
    margin:0;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
}

.header-text {
  position: absolute;
  transform: translateX(-48%);
  top: 1%;
  left: 50%;
  z-index: 1000;
  font-size: 3.2rem;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.9rem;
}

.header-text-description {
  position: absolute;
  transform: translateX(-48%);
  left: 50%;
  z-index: 1001;
  color: #AAAAAA;
  font-size: 1.1rem;
  white-space: nowrap;
  top: calc(1% + 3.2rem + 2rem);
}

@media (min-width: 1400px) {
  .header-text {
      font-size: 5rem;
      letter-spacing: 1.2rem;
  }
  .header-text-description {
      font-size: 1.7rem;
      top: calc(1% + 5rem + 3rem);
  }
}

@media (max-width: 1400px) and (min-width: 600px) {
  .header-text {
      font-size: 4rem;
      letter-spacing: 1.2rem;
  }
  .header-text-description {
      font-size: 1.37rem;
      top: calc(1% + 4rem + 3rem);
  }
}
