@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  font-family: D-DIN-BOLD, Poppins, Arial;       
}

.nav-bar {
  position: fixed;
}

ul {
  list-style: none;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #050304;
}

.image-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
}

.header-text {
  position: absolute;
  transform: translateX(-48%);
  top: 5%;
  left: 50%;
  z-index: 1000;
  font-size: 3.2rem;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.8rem;
}

.header-text-description {
  position: absolute;
  transform: translateX(-48%);
  left: 50%;
  z-index: 1001;
  color: #AAAAAA;
  font-size: 1.1rem;
  white-space: nowrap;
  top: calc(5% + 3.2rem + 2rem);
}

@media (min-width: 1400px) {
  .header-text {
      top: unset;
      top: 1%;
      font-size: 5rem;
      letter-spacing: 1.2rem;
  }
  .header-text-description {
      font-size: 1.7rem;
      top: calc(1% + 5rem + 3rem);
  }
}

@media (max-width: 1400px) and (min-width: 600px) {
  .header-text {
      top: unset;
      top: 1%;
      font-size: 4rem;
      letter-spacing: 1.2rem;
  }
  .header-text-description {
      font-size: 1.37rem;
      top: calc(1% + 4rem + 3rem);
  }
}

nav {
  width: 100%;
  background-color: #0F0F0F;
  height: 100vh;
}

nav img {
  position: relative;
  width: 250px;
  height: auto;
  top: 15%;
  left: 26%;
  transform: translateX(-50%);
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  top: -50%;
  left: 50%;
  transform: translateX(-48%);
}

li a {
  padding: 10px 20px;
  background-color: #1E1E1E;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border-radius: 20px 0 20px 0;
  border: 3px solid #565656;
  /*box-shadow: 0 0 2px 0px #fff;*/
}

li a:before,
li a:after {
  content: '';
  position: absolute;
  background-color: #0F0F0F; 
  z-index: 2000;
}

li a:before {
  top: -3px;
  left: -3px;
  width: 23px;
  height: 23px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

li a:after {
  bottom: -3px;
  right: -3px;
  width: 23px;
  height: 23px;
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

li a:hover {
  background-color: #555555;
}
